## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.class

## Idea
*.iml
*.ipr
*.iws
.idea/
.geany

## maven output
/target
*/target
/reports
*/reports
release.properties

## eclipse project
.settings
.classpath
.project

bin/
logs/
test-output/
