## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.class

## Idea
*.iml
*.ipr
*.iws
.idea/
.geany

## maven output
/target
*/target
/reports
*/reports

## maven-release-plugin output
release.properties
pom.xml.next
pom.xml.releaseBackup

## eclipse project
.settings
.classpath
.project

bin/
logs/
test-output/
