sudo: true
language: java
jdk:
  # Disable OpenJDK7 temporary on build:
  # Due to buffer overflows when the host name is too long.
  # - openjdk7
  - oraclejdk7
before_install:
  - sudo add-apt-repository -y ppa:wnoronha/thrift
  - sudo apt-get update -qq
  - sudo apt-get install -qq thrift-compiler
  - which thrift
install: /bin/true
script: mvn clean install -B
